* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.one {
    width: 100%;
    height: 100vh;
    background-color: #170067;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
}

.one h1 {
    font-size: 45vh;
    color: #F5D0CF;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: -0.2rem;
}

.one .OneImg {
    width: 23%;
    position: absolute;
    bottom: 10rem;
    transform:rotate(-18deg);
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.one .TwoImg {
    width: 23%;
    position: absolute;
    top: 12rem;
    right: 27rem;
    bottom: 10rem;
    transform: rotate(25deg);
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.one p {
    width: 16%;
    position: absolute;
    bottom: 7rem;
    left: 4rem;
    z-index: 2;
    color: rgb(213, 213, 214);
}

.one button {
    position: absolute;
    bottom: 6rem;
    right: 4rem;
    padding: 1.3rem 3rem;
    border: none;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #F59D27;
    cursor: pointer;
}

.two {
    width: 100%;
    height: 100vh;
    background-color: #F4D0CF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.two h1 {
    width: 55%;
    font-size: 10vw;
    font-family: "Bebas Neue", sans-serif;
    color: #170068;
    line-height: 8rem;
    text-align: center;
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 99;
}

.two img {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 65%;
    transform: rotate(22deg);
}


.three {
    width: 100%;
    height: 100vh;
    background-color: #F4D0CF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
}

.three .three_One {
    width: 29%;
    margin: 5rem 0;
    position: absolute;
    left: 35%;
}

.three .three_Two {
    width: 29%;
    margin: 5rem 0;
    position: absolute;
    right: 2rem;
}